[Desktop Entry]
Version=1.5
Type=Application
Name=Beskope
Comment=Desktop Music Visualizer
Exec=beskope
Terminal=false
Icon=io.github.jturcotte.Beskope
Categories=AudioVideo;Audio;
Actions=Configuration;Quit;
SingleMainWindow=true

[Desktop Action Configuration]
Exec=beskope -c
Name=Open Configuration

[Desktop Action Quit]
Exec=beskope -q
Name=Quit Beskope
