[Desktop Entry]
Version=1.5
Type=Application
Name=Beskope (Windowed)
Comment=Desktop Music Visualizer
Exec=beskope -w
Terminal=false
Icon=io.github.jturcotte.Beskope
Categories=AudioVideo;Audio;
Actions=Configuration;Quit;
SingleMainWindow=true

[Desktop Action Configuration]
Exec=beskope -c
Name=Open Configuration
